.centered {
    display: flex;
    justify-content: center;
    }
.textCenter {
    text-align: center;
    margin-bottom: 20px;
    border: 2px solid #000000;
    width: 100%;
}
.doned {
    background-color: green;
    color: white;
}
.doned:hover {
    background-color: #28d511;
    color: white;
}
.forTrash {
    margin-left: 20px;
    margin-right: 20px;
}